<%= stylesheet_link_tag "main_style.css" %>
<%= stylesheet_link_tag "theme.css" %>

<style type="text/css">
  #qr-form textarea.standard {
  height: 100px;
  width: 100px;
  }
</style>

<body>
    
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
<div class='container-fluid'>

<ul class='nav navbar-nav'>
    <h4 style='color:white;'>Admin Access</h4>      
</ul>
</div>
</nav>
<div id="container">
<div class='jumbtron'>
    <div class='container text-center'>

<br><br><br><br>

<h2>Send Response</h2>
<hr>

<%= 	form_for @ticket do |f| %>
<p style='text-align: center'><%= f.label 'Recipient: ' %> <%= f.email_field :contact, size:25, :required => true	 %></p>
<p><%= f.label 'Content: ' %></p> <p><%= f.text_area :admin_comment, cols: 100, rows: 15, :required => true %></p>
<p><%= f.label 'Resolved: ' %> <%= f.check_box :resolved %></p>
<%= f.submit 'Send Repsonse via Email' %>



<hr>


<% end %>

</div></div>

</body>




