        <head>
    <title>Quick Responese System</title>
    <meta charset="utf-8">
    <style>
    body    {font-family: Arial, Verdana, sans-serif;
            background-color: antiquewhite;
    background-size:cover;}
    h3 {border-top: 2px solid black; border-bottom: 2px solid black;
        padding: 20px 0; font-size: 2.3em; font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
        letter-spacing:0.5em; text-align: center;
        background-size: cover;
    }

    nav {text-align:center;word-spacing:30px;
        background-color:#91a8d2; padding:2px;
        border-radius:6px;}

    #container { margin:auto;
                 padding: 0 10px 10px;

                }


    #content {float:left; padding-left: 20px}
        
    #content1 {float:right; width: 1000px;}    

        
    h2 { color: #000033; 
         font-family: arial, sans-serif;
    }



    summary {font-size:25px; margin-bottom:10px; color: black}
        
    p {margin-left: 25px}

    footer { font-size: .80em;
              font-style: italic;
    }

    </style>


    </head>
        
    <body>
        
    <div id="container">
        
    <header>
    <h3>Quick Response</h3>
    </header>

<div class='jumbtron'>
	<div align='center'>


<h2>New Ticket</h2>

<%= form_for @ticket do |f| %>
<p><%= f.label 'User ID: ' %> </p><p>   <%= f.text_field :user_id, :required => true, size: 35 %></p>
<p><%= f.label 'Contact:' %> </p><p> <%= f.email_field :contact, :required => true, size: 35   %></p>
<p><%= f.label 'Comment: ' %> </p><p> <%= f.text_area :comment, cols: 100, rows: 15,  :required => true  %></p>
<p><%= f.label 'Screenshot: ' %> <%= f.file_field :image %></p>


<%= f.submit 'Add Ticket' %>

<hr>


<% end %>


</div></div>
    

    </div>

    </body>



