 <head>
    <title>Quick Responese System</title>
    <meta charset="utf-8">
    <style>
        
    html { 
        background: url(images/med-back1.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        }
    body    {
             font-family: Arial, Verdana, sans-serif;
            }
        
    h1 { 
        border-bottom: 2px solid black; margin-left: 20px; margin-right: 20px; margin-top: 10px;
        padding: 20px 0; font-size: 2.3em; font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
        letter-spacing:0.5em; text-align: center; font-weight:bolder;
        background-size: cover;
        }


    #container { margin: 50px auto;
                width: 60%;
                min-width: 960px; max-width: 1200px;
                background-color: rgba(178, 196, 211, 0.79);
                color: #000066;
                box-shadow: 10px 10px 100px 20px rgba(64, 60, 60, 0.69);
                border-radius: 20px;
        
                }
        
    #content {float:left; padding-left: 20px}
        
    #content1 {float:right; width: 1000px;}    

    </style>


    </head>
        
    <body>
        
    <div id="container">
        
    <header>
    <h1>Quick Response
    
    </h1>
    </header>

    <div style='text-align:center'>


<h2>New Ticket</h2>
<%= form_for @ticket do |f| %>

<p><%= f.label 'Employee ID: ' %> </p><p>   <%= f.text_field :user_id, :required => true, size: 35 %></p>
<p><%= f.label 'Email:' %> </p><p> <%= f.email_field :contact, :required => true, size: 35   %></p>
<p><%= f.label 'Problem: ' %> </p><p> <%= f.text_area :comment, cols: 60, rows: 6,  :required => true  %></p>
<p><%= f.label 'Screenshot (optional): ' %> <%= f.file_field :image %></p>


<%= f.submit 'Add Ticket' %>

<hr>


<% end %>
</div>

    </div>
    </div>
    </body>




\\\